---
layout: default
---

{% prismic_embed mocks.embed.youtube %}
{% prismic_embed mocks.embed.youtube, "div", "block p-5" %}

<br />
<br />

{% prismic_embed mocks.embed.twitter %}
{% prismic_embed mocks.embed.twitter, "div", "block p-5" %}
