---
layout: default
---

{% prismic_embed mocks.embed.youtube %}
{% prismic_embed mocks.embed.youtube, { wrapper: "section", class: "block p-5" } %}

<br />
<br />

{% prismic_embed mocks.embed.twitter %}
{% prismic_embed mocks.embed.twitter, { wrapper: "section", class: "block p-5" } %}
