---
layout: default
---

{% prismic_asImageSrc mocks.image.simple %}
{% prismic_asImageSrc mocks.image.simple, { sat: 100 } %}
{% prismic_asImageWidthSrcSet mocks.image.simple, { sat: 100 } %}
{% prismic_asImageWidthSrcSet mocks.image.simple, { sat: 100, widths: [100, 200, 300] } %}
{% prismic_asImagePixelDensitySrcSet mocks.image.simple, { sat: 100 } %}
{% prismic_asImagePixelDensitySrcSet mocks.image.simple, { sat: 100, pixelDensities: [1, 2] } %}

{% prismic_image mocks.image.simple %}
{% prismic_image mocks.image.simple, "block p-5" %}
{% prismic_image mocks.image.simple, { class: "block p-5", imgixParams: { sat: 100 } } %}
{% prismic_image mocks.image.simple, { class: "block p-5", widths: "defaults" } %}
{% prismic_image mocks.image.simple, { class: "block p-5", width: "200px", height: "100px" } %}

<br />
<br />

{% prismic_image mocks.image.simple.twitter_variant %}
{% prismic_image mocks.image.simple.twitter_variant, { class: "block p-5" } %}
