---
layout: default
---

{% prismic_image mocks.image.simple %}
{% prismic_image mocks.image.simple, "block p-5" %}
{% prismic_image mocks.image.simple, "class", "block p-5", "width", "200px", "height", "100px" %}

<br />
<br />

{% prismic_image mocks.image.simple.twitter_variant %}
{% prismic_image mocks.image.simple.twitter_variant, "block p-5" %}
